<h2>ユーザー編集ページ</h2><br/>

<%= link_to "Profileに戻る", :back %><br/><br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    名前<br/>
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="field">
    ニックネーム *必須項目<br/>
    <%= f.text_field :nick_name, autocomplete: "nick_name" %>
  </div>

  <div class="field">
    郵便番号<br/>
    <%= f.text_field :postcode, autocomplete: "postcode" %>
  </div>

  <div class="field">
    都道府県<br/>
    ※ここを基準として地図を表示します<br/>
    <%= f.select :prefecture, @prefecture_names, autocomplete: "prefecture" %>
  </div>

  <div class="field">
    市区町村(ex: 世田谷区三軒茶屋)<br/>
    ※ここを基準として地図を表示します<br/>
    <%= f.text_field :city, autocomplete: "city" %>
  </div>

  <div class="field">
    番地・建物名・部屋番号(ex: 4-26-22-301)<br/>
    <%= f.text_field :block, autocomplete: "block" %>
  </div>

  <div class="field">
    性別<br/>
    <%= f.select :gender, [["男性", "男性"], ["女性", "女性"]], autocomplete: "gender" %>
  </div>

  <div class="field">
    電話番号<br/>
    <%= f.text_field :phone_num, autocomplete: "phone_num" %>
  </div>

  <div class="field">
    ユーザ画像<br/>
    <%= f.file_field :image, autocomplete: "image" %>
  </div><br/><br/>

  <div class="field">
    ナワバリ<br/>
    <%= f.select :territory, @territory_names, autocomplete: "territory" %>
  </div>

  <div class="field">
    自己紹介<br/>
    <%= f.text_field :bio, autocomplete: "bio" %>
  </div>

  <!--<div class="field">
    メール<br/>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    パスワード
    <% if @minimum_password_length %>
      <em>最低<%= @minimum_password_length %>文字</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    パスワード（確認用）<br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>-->

  <div class="actions">
    <%= f.submit "プロフを更新する" %>
  </div>
<% end %>

<br/>
<br/>

<h3>退会する</h3>
<p><%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか？" }, method: :delete %></p>
