<%= form_with(model: play_ground, local: true) do |form| %>
  <% if play_ground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(play_ground.errors.count, "error") %> prohibited this play_ground from being saved:</h2>

      <ul>
      <% play_ground.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :court_name %>
    <%= form.text_field :court_name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.select :place, @places, autocomplete: "place" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, @statuses, autocomplete: "status" %>
  </div>

  <!--<div class="field">
    コート画像１<br/>
    <%= form.file_field :image_first, autocomplete: "image_first" %>
  </div>

  <div class="field">
    コート画像２<br/>
    <%= form.file_field :image_second, autocomplete: "image_second" %>
  </div>

  <div class="field">
    コート画像３<br/>
    <%= form.file_field :image_third, autocomplete: "image_third" %>
  </div>-->

  <div class="field">
    <%= form.label :release %>
    <%= form.check_box :release %>
  </div>

  <div class="field">
    <%= form.label :nearest_station %>
    <%= form.text_field :nearest_station %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_field :start_time, {} %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_field :end_time, {} %>
  </div>

  <div class="field">
    <%= form.label :usage_fee %>
    <%= form.number_field :usage_fee %>
  </div>

  <div class="field">
    <%= form.label :usage_week %>
    <% @weeks.each do | week | %>
      <%= form.check_box :usage_week, { multiple: true }, week, nil %>
      <%= form.label :usage_week, week %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
