<%= render partial: "shared/header" %>

<h1 id="court_name"></h1>

<!-- GoogleMap表示 -->
<div id='map'></div>

<!-- play_groundコントローラのインスタンス変数をJS側に送る -->
<input type="hidden" id="play_grounds_json" value="<%= @play_grounds_json %>">
<input type="hidden" id="rails_path" value="<%= @rails_path %>">

<% @play_grounds&.each.with_index(1) do |court, index| %>
  <article class="card">
    <div class="card__header">
      <h3 class="card__title"><%= court.court_name %></h3>
    </div>
    <div class="card__body">
      <p class="card__text">content: <%= court.content %></p>
      <input id="street_court_<%= index %>" type="hidden" value="<%= court.court_name %>"><br/>

      <!-- buttonをクリックしたらdisp_markerを実行　-->
      <input type="button" value="ShowMap" class="btn-square-slant"
        onclick="dispMarker(
          <%= court.latitude.to_f %>,
          <%= court.longitude.to_f %>,
          <%= court.id %>,
          <%= index %>,
          'street_',
          '<%= @rails_path %>'
        )"
      >
    </div>
    <div class="card__footer">
      <p class="card__text"><%= link_to "詳細を表示する", play_ground_path(court.id), class:"button -compact" %></p>
    </div>
  </article>
<% end %>
