<div class="show_rap">

  <% if User.admin_user?(current_user) %>
    <%= link_to '編集する', edit_play_ground_path(@play_ground) %> |
    <%= link_to '削除する', play_ground_path(@play_ground), method: :delete, data: { confirm: 'このコート情報を削除しますか？' } %>
  <% end %>

  <p>
    <strong class="show_cont">場所名:</strong>
    <%= @court[:name] %>
  </p>

  <p>
    <strong class="show_cont">利用可能な時間帯:</strong>
    <strong><%= @court[:time_zone] %></strong>
  </p>

  <p>
    <strong class="show_cont">最寄駅:</strong>
    <%= @court[:nearest_station] %>
  </p>

  <p>
    <strong class="show_cont">住所:</strong>
    <%= @court[:address] %>
  </p>

  <p>
    <strong class="show_cont">場所:</strong>
    <%= @court[:place] %>
  </p>

  <p>
    <strong class="show_cont">使用料:</strong>
      <%= @court[:usage_fee] %>
  <p>
    <strong class="show_cont">利用可能日:</strong>
    <% @court[:usage_week].each do | week | %>
      <%= week %>
    <% end %>
  </p>

  <p>
    <strong class="show_cont">活気:</strong>
    <%= @court[:status] %>
  </p>

  <p>
    <strong class="show_cont">概要:</strong>
    <%= @court[:content] %>
  </p>
  <% @court_images.each do | image | %>
    <%= image_tag(image.url) %>
  <% end %>
</div>
