<div id="user_image">
  <%= image_tag (@user_image), id:'no_image', class: "box" %>
</div>

<div id="user_status">
  <div>@<%= current_user&.nick_name %></div>
  フォロー: 500<br/>
  フォロワー: 500<br/>
  ナワバリ:<br/>
  <%= current_user&.territory %><br/>
</div>

<%= button_to "EditProfile", edit_user_registration_path, method: :get, class: "prof_button" %>

<div id="user_bio">
  自己紹介:
  <%= current_user&.bio %>
</div>