<div id="user_image">
  <%= image_tag "no_image.png", id:'no_image', class: "box" %>
</div>

<div id="user_status">
  <div>@<%= current_user&.user_name %></div>
  フォロー: 500<br/>
  フォロワー: 500<br/>
  ナワバリ:<br/>
  <%= current_user&.territory %><br/>
</div>

<button class="prof_button">
  <%= link_to "EditProfile", edit_user_registration_path, id: 'edit_prof' %>
</button>

<div id="user_bio">
  自己紹介:
  <%= current_user&.bio %>
</div>