<div class="header">
  <ul class="header_ul">
    <%= link_to(root_path) do %>
      <li id="logo">
        <%= image_tag 'logo.png', id:"header_img" %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to(destroy_user_session_path, method: :delete) do %>
        <li class="header_link"><i class="fas fa-sign-in-alt"></i><br/>logout</li>
      <% end %>
      <%= link_to(user_path(current_user.id)) do %>
        <li class="header_link"><i class="fas fa-user-circle"></i><br/>profile</li>
      <% end %>
    <% else %>
      <%= link_to(new_user_session_path) do %>
        <li class="header_link"><i class="fas fa-sign-in-alt"></i><br/>login</li>
      <% end %>
    <% end %>
  </ul>
</div>
<p id="notice"><%= notice %></p>